<!-- Getting Started -->
<section class='getting-started'>
	<div class='v'>
		<span class='version'><i class='fa-solid fa-bell'></i>
			Version 1.0</span>
		You are on the latest version of the library!
	</div>
	<h1>Create beautiful websites with <span class='blue'>Jays</span></h1>
	<p>A library to create responsive and beautiful websites.<br />
		You can use all the pre-built templates, cards, navigation bars, modals,
		alerts and even create your own templates for your next project. What are
		you waiting for?</p>
	<a href='docs/1.0/' class='button'>
		<i class='fa-solid fa-book'></i>
		Go to docs
	</a>
</section>

<!-- How Install -->
<section class='install'>
	<div class='content'>
		<section class='npm'>
			<div class='title'>
				<i class='fas fa-box npm-logo'></i>
				<h2>
					Install with
					<span class='yellow'>npm</span>
				</h2>
				<p>
					If you have a node project and want to deploy Jays without using a CDN, what you can do is...
				</p>
			</div>
			<a href='#' class='btn'>
				<i class='fa-solid fa-box'></i>
				Install Jays with NPM
			</a>
		</section>
		<section class='use-cdn'>
			<div class='title'>
				<i class='fa-solid fa-globe cdn-logo'></i>
				<h2>
					Use the
					<span class='green'>CDN</span>
				</h2>
				<p>
					If you want to use the library without installing it, you can use
					the CDN.
				</p>
			</div>
			<a href='#' class='button'>
				Get started with the CDN
				<i class='fa-solid fa-arrow-right'></i>
			</a>
		</section>
	</div>
</section>

<!-- Premium -->
<section class='premium'>
	<div class='title'>
		<i class='fa-solid fa-star'></i>
		<h2>
			Get
			<span class='red'>premium Jays</span>
			at a great price
		</h2>
		<p id="p-premium" style="transition: all 0.2 ease;">
			In itself this library is already very good, it has its premium
			version. This version includes more gradients, more component
			variation, etc.
		</p>
	</div>
	<a href='/premium' class='btn-red'>
		More about Jays Premium
		<i class='fa-solid fa-star'></i>
	</a>
</section>

<!-- More -->
<section class='more'>
	<div class='title'>
		<i class='fa-solid fa-book'></i>
		<h2>
			Learn more about Jays
		</h2>
		<p>
			This library has much more to offer you. Do not waste your time!
		</p>
	</div>
	<a href='docs/1.0/' class='button-dark'>
		<i class='fa-solid fa-book'></i>
		Learn more about Jays
	</a>
</section>