<div class='err'>
    <i class='fa-solid fa-exclamation-triangle'></i>
    <span>Error 404</span>
	<h2>Page not found</h2>
	<p>The route <span class="red">{{{ route }}}</span> does not exist. Perhaps you tried to enter another page.</p>
    <br>
    <a href="/" class="btn">
        Back to home
    </a>
</div>