<!-- Information about Jays Premium -->
<div class='themes-premium'>
	<div class='content'>
		<i class='fa fa-brush icon'></i>
		<i class="fa-solid fa-paint-roller icon"></i>
		<i class="fa-solid fa-palette icon"></i>
		<h2>Exclusive themes for Premium users</h2>
		<p>
			Access the collection of exclusive themes for Premium users.
		</p>
		<br>
		<div class='buttons'>
			<a href='#' class='btn'>
				Keep browsing
				<i class='fa-solid fa-arrow-down'></i>
			</a>
			<a href='/' class='btn-back'>
				<i class='fa-solid fa-arrow-left'></i>
				Back to home
			</a>
		</div>
	</div>
	<picture class='theme-img'>
		<img src='img/themes.png' alt='Jays Themes' title='Illustrative image' onerror="this.parentNode.removeChild(this);">
	</picture>
</div>